.header-container {
  .bonsa-health-header {
    width: 9%;
    height: 50%;
    margin-right: 2rem;
  }

  .lyftSvgHeader {
    align-items: center;
    padding: 10px 0px 0px 0px;
    margin-right: 2rem;
  }
  .rxDeliveryTextHeader {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #414d55;
    margin-right: 2rem;
  }
}
